<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <Strong>Nome do site</Strong>
        <label for="modal-toggle" class="btn-selecionar-arquivo">Adicionar novo OFX</label>
    </header>



    <!-- O TRUQUE: Checkbox invisível que controla tudo -->
    <input type="checkbox" id="modal-toggle">

    <!-- O MODAL (Começa invisível por causa do CSS) -->
    <div class="modal-overlay">
        <div class="modal-card">
            
            <!-- Botão de fechar (X) -->
            <label for="modal-toggle" class="close-label">&times;</label>

            <h3>Adicionar Arquivo</h3>

             <!-- AQUI ENTRA O FORM DO FLASK -->
        <form action="http://127.0.0.1:5001/upload" method="post" enctype="multipart/form-data">
        

            <div class="upload-area">
                <img src="/static/images/icon-1.svg" alt="">
                Arraste o arquivo aqui <br> ou <br>

                <!-- Input file real (pode ser escondido visualmente) -->
                <input type="file" name="file" id="file-input" style="display: none;" accept=".OFX,.xml,.pdf">

                <!-- Label que aciona o input file -->
                <label for="file-input" class="browse-text">Procurar arquivo</label>

                <!-- Mostra o nome do arquivo selecionado -->
                <p id="file-name" style="margin-top: 10px; font-size: 12px;"></p>
            </div>

            <button type="submit" class="btn-enviar">Enviar</button>
        </form>

        </div>
    </div>

<!-- Script simples para mostrar o nome do arquivo -->
<script>
    document.getElementById('file-input').addEventListener('change', function(e) {
        if (e.target.files.length > 0) {
            document.getElementById('file-name').textContent = 'Arquivo: ' + e.target.files[0].name;
        }
    });
</script>
</body>
</html>

